<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pengx.test.robolectric">
    <application
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
                android:name=".RobolectricActivity" android:screenOrientation="portrait"/>

        <activity android:name=".LifeCircleActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
